@import "~styles/theme.less";

.page-container {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  background-color: @primary-color-shade;
  .page-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
